<script src="https://core.spreedly.com/iframe/express-2.min.js"></script>

<script>
  function initSpreedly(){
    SpreedlyExpress.init("<%= ENV['spreedly_environment_key'] %>", {
      "amount": "$" + document.getElementById('transaction_amount').value,
      "company_name": "Joe's Discount Aeroplane Travel",
      "sidebar_top_description": "You get what you pay for©",
      "name_label": "Cardholder's Name",
      "submit_label": "Buy Tickets Now!"
    }, {
      "email": document.getElementById('transaction_email').value
    });
  }

  SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {
    // Send requisite payment method info to backend
    var tokenField = document.getElementById("transaction_payment_method_token");

    tokenField.setAttribute("value", token);

    var masterForm = document.getElementById('new_transaction');
    masterForm.submit();
  });

  function setTotalAmount(){
    var ticketCount = document.getElementById('transaction_ticket_count').value;
    var totalCost = <%= @transaction.flight&.cost %> * ticketCount;
    var setAmount = document.getElementById('transaction_amount');
    setAmount.setAttribute("value", totalCost);
    document.getElementById('grand-total').innerHTML = "$" + totalCost;
  }

  function selectedSavedCard(){
    var savedCardId = document.getElementById('transaction_saved_card_id').value;
    var savedCardSubmitButton = document.getElementById('saved_card_submit_button');

    savedCardSubmitButton.disabled = (savedCardId == "" ? true : false);
  }
</script>

<h1>New Transaction</h1>

<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Flight: <%= display_flight_info(@transaction.flight) %>
    <%= f.hidden_field :flight_id, value: @transaction.flight_id %>
  </div>

  <div>
    Cost per Ticket: <%= number_to_currency(@transaction.flight.cost, precision: 0) %>
  </div>

  <div>
    Email: <%= f.text_field :email %>
  </div>

  <div>
    How many tickets you want?: <%= f.number_field :ticket_count, in: 1...10, onchange: 'setTotalAmount();' %>
  </div>

  <div>
    Total Cost: <div id='grand-total'></div>
  </div>

  <div>
    Save card for future use? <%= f.select :save_card, [['Yes', true], ['No', false]]%>
  </div>

  <% if @saved_cards.any? %>
    <div class="payment_option">
      Buy using a Saved Card:
      <%= f.select :saved_card_id, options_from_collection_for_select(@saved_cards, :id, :to_s), {include_blank: true}, onchange: 'selectedSavedCard();' %>
      <%= f.submit 'Buy with this saved card!', id: 'saved_card_submit_button', disabled: true %>
    </div>
  <% end %>

  <%= f.hidden_field :amount %>
  <%= f.hidden_field :payment_method_token %>
<% end %>

<% if @saved_cards.any? %>
  <p>OR</p>
<% end %>

<div class="payment_option">
  Buy with a fresh card:
  <button onmouseover="initSpreedly()" onClick="SpreedlyExpress.openView()">
    Enter New Payment Info
  </button>
</div>
